 /* reset */
 img,
 svg,
 picture,
 video {
     max-width: 100%;
 }

.badge{
    cursor: pointer;
     position: absolute;
     right: 0;
     margin-right: 10px;
 }


 .testoSbarrato{
    text-decoration: line-through;
 }